<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging" />
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="Innova.WebServiceV07.RO.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<appSettings>
		<!-- Database connection -->
		<add key="ConnectionString" value="server=13.59.190.84; database=InnovaTesting; Integrated Security=False; uid=innova; pwd=Innova123" />
		<add key="ConnectionStringReadOnly" value="server=13.59.190.84; database=InnovaTesting; Integrated Security=False; uid=innova; pwd=Innova123" />
		<add key="ConnectionString_ChiltonBulletins" value="server=13.59.190.84; database=ChiltonContentDelivery_Bulletins; uid=innova; pwd=Innova123" />
		<!-- Database connection -->

		<!-- SMTP server and authorized account login information -->
		<add key="SmtpServer" value="mail.equus.com" />
		<add key="SmtpServerNumTwo" value="mail.equus.com" />
		<add key="SmtpLoginRequired" value="true" />
		<add key="SmtpUseDefaultCredentials" value="false" />
		<add key="SmtpUsername" value="noreplyinnova" />
		<add key="SmtpPassword" value="noreply" />
		<add key="SmtpDomain" value="Equus" />
		<add key="SmtpEnableSsl" value="true" />
		<add key="SmtpPort" value="25" />
		<!-- SMTP server and authorized account login information -->

		<!-- Error Settings -->
		<add key="IsLogError" value="true" />
		<add key="IsEmailError" value="false" />
		<add key="ErrorEmailAddress" value="dev.noreply@innova.com" />
		<!-- Error Settings -->

		<!-- Tsb -->
		<add key="TsbRootUrl" value="http://downloads.innova.com/tsb-files/" />
		<!-- Tsb -->

		<!-- Dtc -->
		<add key="DtcInfoRootUrl" value="http://downloads.innova.com/error-code-info/" />
		<!-- Dtc -->

		<!-- Polk -->
		<add key="PolkVehicleImageRootUrl" value="http://downloads.innova.com/polk-vehicle-images/" />
		<add key="UsePolkData" value="true" />
		<!-- Polk -->

		<!--Validate Key And Log Transaction-->
		<add key="EnableTransactionLogging" value="true" />
		<!--Validate Key And Log Transaction-->

		<!-- ResourcesBaseUrl -->
		<add key="ResourcesBaseUrl" value="http://resources.innova.com" />
		<!-- ResourcesBaseUrl -->

		<!-- Articles -->
		<add key="ArticleVideoThumbnailVirtualPath" value="/articles/articlesshare/videothumb/" />
		<add key="ArticleImageFileVirtualPath" value="/Articles/ArticlesShare/I/" />
		<add key="ArticleDocumentFileVirtualPath" value="/Articles/ArticlesShare/D/" />
		<add key="ArticleMediaFileVirtualPath" value="/Articles/ArticlesShare/M/" />
		<add key="ArticleFlashFileVirtualPath" value="/Articles/ArticlesShare/F/" />
		<add key="ArticleVideoFileBaseUrl" value="http://videos.innova.com" />
		<add key="ArticleVideoStreamingBaseUrl" value="rtmp://streaming.innova.com/cfx/st/" />
		<!-- Articles -->

		<!-- VehicleWarranty -->
		<add key="AverageMilesDrivenPerDay" value="50" />
		<!-- VehicleWarranty -->

		<!-- RabbitMQ configuration -->
		<add key="RabbitMQ_HostName" value="dev-console.innova.com" />
		<add key="RabbitMQ_Port" value="5672" />
		<add key="RabbitMQ_UserName" value="SonPHH" />
		<add key="RabbitMQ_Password" value="G0!d@T@!23" />
		<add key="RabbitMQ_QueueName_Default" value="ServiceRO" />
		<add key="RabbitMQ_QueueName_DiagnosticReportLogging" value="DiagnosticReportLogging" />
		<add key="RabbitMQ_QueueName_AutoZoneDiagnosticReportLogging" value="AutoZoneBlackboxDiagnosticReportLog" />
		<add key="RabbitMQ_QueueName_OreillyBlackBoxLog" value="OreillyBlackBoxLog" />
		<add key="RabbitMQ_QueueName_AutoZoneBlackboxTransactionLog" value="AutoZoneBlackboxTransactionLog" />
		<!-- RabbitMQ configuration -->

		<!-- Payload folders configuration -->
		<add key="ServiceReadOnly_NewPayloadFolder_When_SendRequest_ToRabbitMQ_Failed" value="D:\PayloadData\ROServiceV7\PayloadLog\SendRequest_FromRabbitMQ_ToInnovaService_Failed"/>
		<add key="OreillyReportFromBBFolderPath" value="D:\PayloadData\ROServiceV7\PayloadLog\ORBackupPayloads"/>
		<add key="AutoZoneReportFromBBFolderPath" value="D:\PayloadData\ROServiceV7\PayloadLog\AZBackupPayloads"/>
		<!-- Payload folders configuration -->

		<!-- Innova web service v7 -->
		<add key="InnovaWebServiceV7Url" value="https://dev-service7.innova.com/v2.0/ServiceV7.asmx" />
		<!-- Innova web service v7 -->
		
		<!-- IDM API Service configuration -->
		<add key="ForwardDataToIDMService" value="false" />
		<add key="IDM_API_URL" value="http://18.219.12.131:5000" />
		<add key="IDM_API_AUTH_TOKEN" value="eyJhbGciOiJodHRwOi8vd3d3LnczLm9yZy8yMDAxLzA0L3htbGRzaWctbW9yZSNobWFjLXNoYTI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiJiNTVlNTQyYS04ZjNiLTQzOTItYjcxMS03ZjRjNTVjZjNkMjgiLCJuYW1lIjoiYjU1ZTU0MmEtOGYzYi00MzkyLWI3MTEtN2Y0YzU1Y2YzZDI4IiwiZXhwIjoyMDI1MjQwODAyLCJpc3MiOiJodHRwczovL3d3dy5pbm5vdmEuY29tIiwiYXVkIjoiaHR0cHM6Ly9pZG0uaW5ub3ZhLmNvbSJ9.7v8lhuYSMSIaNEYSDyg2aZEmO3mtFrek3ogJCGUM_m4" />
		<add key="IDM_API_CONNECTION_TIMEOUT" value="30" />
		<!-- IDM API Service configuration -->
	</appSettings>
	<!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5.1" />
      </system.Web>
  -->
	<system.web>
		<httpRuntime requestValidationMode="2.0" />
		<!--  DYNAMIC DEBUG COMPILATION
    Set compilation debug="true" to enable ASPX debugging.  Otherwise, setting this value to
    false will improve runtime performance of this application.
    Set compilation debug="true" to insert debugging symbols (.pdb information)
    into the compiled page. Because this creates a larger file that executes
    more slowly, you should set this value to true only when debugging and to
    false at all other times. For more information, refer to the documentation about
    debugging ASP.NET files.
  -->
		<compilation defaultLanguage="c#" debug="true" targetFramework="4.6.1" />
		<!--  CUSTOM ERROR MESSAGES
    Set customErrors mode="On" or "RemoteOnly" to enable custom error messages, "Off" to disable.
    Add <error> tags for each of the errors you want to handle.

    "On" Always display custom (friendly) messages.
    "Off" Always display detailed ASP.NET error information.
    "RemoteOnly" Display custom (friendly) messages only to users not running
     on the local Web server. This setting is recommended for security purposes, so
     that you do not display application detail information to remote clients.
  -->
		<customErrors mode="RemoteOnly" />
		<!--  AUTHENTICATION
    This section sets the authentication policies of the application. Possible modes are "Windows",
    "Forms", "Passport" and "None"

    "None" No authentication is performed.
    "Windows" IIS performs authentication (Basic, Digest, or Integrated Windows) according to
     its settings for the application. Anonymous access must be disabled in IIS.
    "Forms" You provide a custom form (Web page) for users to enter their credentials, and then
     you authenticate them in your application. A user credential token is stored in a cookie.
    "Passport" Authentication is performed via a centralized authentication service provided
     by Microsoft that offers a single logon and core profile services for member sites.
  -->
		<authentication mode="Windows" />
		<!--  AUTHORIZATION
    This section sets the authorization policies of the application. You can allow or deny access
    to application resources by user or role. Wildcards: "*" mean everyone, "?" means anonymous
    (unauthenticated) users.
  -->
		<authorization>
			<allow users="*" />
			<!-- Allow all users -->
			<!--  <allow     users="[comma separated list of users]"
         roles="[comma separated list of roles]" />
      <deny      users="[comma separated list of users]"
         roles="[comma separated list of roles]" />
    -->
		</authorization>
		<!--  APPLICATION-LEVEL TRACE LOGGING
    Application-level tracing enables trace log output for every page within an application.
    Set trace enabled="true" to enable application trace logging.  If pageOutput="true", the
    trace information will be displayed at the bottom of each page.  Otherwise, you can view the
    application trace log by browsing the "trace.axd" page from your web application
    root.
  -->
		<trace enabled="false" requestLimit="10" pageOutput="false" traceMode="SortByTime" localOnly="true" />
		<!--  SESSION STATE SETTINGS
    By default ASP.NET uses cookies to identify which requests belong to a particular session.
    If cookies are not available, a session can be tracked by adding a session identifier to the URL.
    To disable cookies, set sessionState cookieless="true".
  -->
		<sessionState mode="InProc" stateConnectionString="tcpip=127.0.0.1:42424" sqlConnectionString="data source=127.0.0.1;Trusted_Connection=yes" cookieless="false" timeout="20" />
		<!--  GLOBALIZATION
    This section sets the globalization settings of the application.
  -->
		<globalization requestEncoding="utf-8" responseEncoding="utf-8" />
		<xhtmlConformance mode="Legacy" />
		<webServices>
			<soapExtensionTypes>
				<add type="Innova.WebServiceV07.RO.SoapExceptionHandler, Innova.WebServiceV07.RO" priority="1" />
			</soapExtensionTypes>
		</webServices>
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" />
	</system.web>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.ValueTuple" publicKeyToken="CC7B13FFCD2DDD51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="AWSSDK" publicKeyToken="9f476d3089b52be3" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-2.3.52.0" newVersion="2.3.52.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Text.Encodings.Web" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Threading.Channels" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<loggingConfiguration name="Logging Application Block" tracingEnabled="true" defaultCategory="General" logWarningsWhenNoCategoriesMatch="true">
		<listeners>
			<add fileName="./Logs/Innova.WebServiceV07.RO.log" footer="----------------------------------------" formatter="Text Formatter" header="----------------------------------------" rollFileExistsBehavior="Increment" rollInterval="Day" rollSizeKB="5120" timeStampPattern="yyyy-MM-dd" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging" traceOutputOptions="None" filter="All" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging" name="Rolling Flat File Trace Listener" />
		</listeners>
		<logFilters>
			<add name="LogEnabled Filter" type="Microsoft.Practices.EnterpriseLibrary.Logging.Filters.LogEnabledFilter, Microsoft.Practices.EnterpriseLibrary.Logging" enabled="true" />
		</logFilters>
		<formatters>
			<add template="::{timestamp(local)}::{message}" type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging" name="Text Formatter" />
		</formatters>
		<categorySources>
			<add switchValue="All" name="General">
				<listeners>
					<add name="Rolling Flat File Trace Listener" />
				</listeners>
			</add>
		</categorySources>
		<specialSources>
			<allEvents switchValue="All" name="All Events" />
			<notProcessed switchValue="All" name="Unprocessed Category">
				<listeners>
					<add name="Rolling Flat File Trace Listener" />
				</listeners>
			</notProcessed>
			<errors switchValue="All" name="Logging Errors &amp; Warnings" />
		</specialSources>
	</loggingConfiguration>
	<applicationSettings>
		<Innova.WebServiceV07.RO.Properties.Settings>
			<setting name="Innova_WebServiceV07_RO_ServiceV7Client_ServiceV7"
			 serializeAs="String">
				<value>https://dev-service7.innova.com/v2.0/ServiceV7.asmx</value>
			</setting>
		</Innova.WebServiceV07.RO.Properties.Settings>
	</applicationSettings>
	<system.webServer>
		<directoryBrowse enabled="true" showFlags="Date, Time, Size, Extension, LongDate" />
	</system.webServer>
</configuration>